@model IEnumerable<FYP1.Models.appDatabase>

    <style>
        .bgImg{
            background-image:url('bgImg.jpg');
            height:400px;
            width:600px;
        }

    </style>

    <div class="bgImg">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Db Name</th>
                    <th scope="col">status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td id="dbName">@item.dbName</td>
                        <td>Pending</td>
                        <td><a asp-controller="userInterface" asp-action="Index"></a>Create Interface</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
