
@{
    Layout = "_EmptyLayout";
}

<style>
    .formClass {
        background-color: #ffffff;
        padding: 20px;
        margin-top: 150px;
    }
</style>
<div class="container-fluid mt-0" style="background-color:#79777a; height:100vh;">
    <div class="row ">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="post" asp-action="ApplicationForgotPassword" class="formClass">
                <h2>Forgot Password</h2>
                <hr />
                <p>Enter you account's email address to change password.</p>
                @ViewBag.msg

                <div class="form-group">
                    <input name="Email" class="form-control" type="email" id="email" placeholder="Enter your email address" required />
                    <span id="errorMsg"></span>
                </div>
                <button type="submit" class="btn" style="background-color:#00b297;">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    //function checkEmptyVals() {
    //    var emailInput = $('#email').val();
    //    if (emailInput == null) {
    //        $("#errorMsg").innerHTML = "Please"
    //    }
    //}
</script>