@model FYP1.ViewModel.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .btn {
        background-color: #00b297;
        border-radius: 5px;
        text-align: center;
        width: 270px;
        margin-left: 65px;
    }

    .control-label {
        font-weight: bold;
    }
</style>

@section userNavItem{
    <li class="nav-item dropdown float-lg-right">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">@Context.Session.GetString("userName")</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Change Password</a>
            <a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a>
        </div>
    </li>
    @*<a asp-controller="form" asp-action="previewSystem" class="btn-sm pull-right  mt-1 font-weight-bold pull-right">Preview System</a>*@


}
<h3>Password</h3>
<hr />

<div class="row mt-5">
    <div class="col-sm-4"></div>
    <div class="col-md-4 card p-0">
        <div class="card-header">
            <h2>Change Password</h2>
            <span class="text-success">@ViewBag.successMsg </span>
        </div>
        <form asp-action="ChangePassword" class="mt-2 card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input type="submit" value="Save Changes" class="btn" data-toggle="modal" data-target="#exampleModalCenter" />
            </div>
        </form>

    </div>
</div>
