
@{ 
    Layout = "_EmptyLayout";

}


<div id="myConfirmModal" class="modal fade" style="margin-top:170px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00b297;">
                <h4 class="modal-title">Account Confirmed</h4>
            </div>
            <div class="modal-body">
                <p>Thanks for confirming you account. Please login to proceed with WebTiqs.</p>

                <a asp-controller="User" asp-action="login" class="btn btn-block col-sm-4" style="background-color:#00b297">Continue</a>
            </div>
        </div>
    </div>
</div>

