<!-- Default form subscription -->
<form class="text-center border border-light p-5" asp-action="EditProfile">

    <p class="h4 mb-4">Edit Profile</p>
    <!-- Name -->
    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" 
           name="Username"
           placeholder="Name">

    <!-- Email -->
    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" 
           name="password"
           placeholder="E-mail">

    <!-- Sign in button -->
    <button class="btn  btn-block" type="submit">Sign in</button>


</form>
<!-- Default form subscription -->