
@{
    Layout = "_EmptyLayout";
}
    <div class="container-fluid mt-0" style="background-color:#79777a; height:100vh;">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="background-color:#ffffff; margin-top:170px;padding:20px;">
                <h3>Password Reset</h3>
                <hr />
                <h5>Please follow the instructions sent to your email address in order to reset password. Thank you</h5>
                <p style="position:relative; top:200px">@ViewBag.msg</p>
                @*<a href="https://accounts.google.com/servicelogin" class="btn " style="background-color:#00b297;">Continue to Google</a>*@

            </div>
        </div>
    </div>
                
