

@{
    Layout = "_EmptyLayout";
}
<style>
    .formClass {
        background-color: #ffffff;
        padding: 20px;
        margin-top: 150px;
    }
</style>

<div class="container-fluid" style="background-color:#79777a; height:100vh;">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 formClass">
            <p>You password was reset successfully!. Please login to continue to Application.</p>
            <a asp-action="Index" class="btn " style="background-color:#00b297;">Login</a>
        </div>
    </div>

</div>
