
@model IEnumerable<FYP1.Models.Column>
@*<link href="~/css/partialCreateForm.css" rel="stylesheet" />*@


<section class=" mt-4 ">

    <div class="row mt-4">

        <div class="col-sm-7">
            <input type="text" id="SetFormTitle" placeholder="Write form title here (e.g Add User)" class="form-control col-sm-12" />
            <br />
            @foreach (var item in Model)
            {
             <div class="attrsContainer">
                <label class="container ml-1 ">
                    <input type="checkbox" dataType=@item.dataType 
                           minlen="@item.minLength" maxlen="@item.maxLength"
                           req=@item.required desc=@item.name id=@item.name>
                    <span style="font-size: 18px;">@item.name</span>
                    <span class="checkmark"></span>
                </label>
             </div>



            }
            <br />
            <div id="invalidFormName" class="text-danger" style="font-size:16px;"></div>
            <button onclick="getForm();" id="createBtn" data-toggle="modal" data-target="#myModal" style="font-size:16px;" class="btn bgColor text-capitalize">Create Form</button>

        </div>

    </div>


</section>
