body {
    overflow-y: hidden;
}
#tableDbRelation {
    position: absolute;
    bottom: 10px;
    margin-bottom: 2px;
    width: 100%;
}
    

.btn {
    background-color: #00b297;
    width: 80%;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
}

#sidebar {
    width: 250px;
    overflow: hidden;
}
.setFontTo16{
    font-size:16px;
}
    